.nav-container {
    border: 3px solid white;
    padding-bottom: 10px;
    @media screen and (min-width: 768px) {
        min-height: 100vh;
    }
}

.content-container {
    border: 3px solid white;
    padding-top: 20px;
    padding-bottom: 20px;
    @media screen and (min-width: 768px) {
        min-height: 100vh;
    }
}

.layout-container {
    background-image: url("../../../assets/images/coffee-image.jpg");
    background-color: transparent;
    background-size: contain;
}